<ion-header>
  <ion-toolbar>
    <ion-title>
      Mis Cursos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="main-container">
  <div *ngFor="let item of datosa" (click)="openMyCourse(item.id_curso.id_curso)" class="contenedor">
    <img class="imagen" src="{{item.id_curso.imagen}}" alt="">
    <div class="contenido">
      <h3 class="titulo">{{ item.id_curso.titulo_curso }}</h3>
      <p class="descripcion">{{ item.id_curso.short }}</p>        
    </div>
  </div>

  <ion-list> 
    
    <!--
    <ion-item *ngFor="let item of datos" icon-start> {{ item.titulo }} 
    </ion-item> 
    -->
  </ion-list>
 </ion-content>
