<ion-header>
  <ion-toolbar>
    <ion-title>
      Promociones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class = "promociones" *ngFor="let promocion of datos">
    <ion-card id = "promo {{promocion.id_promocion}}">
      <ion-card-header id = "descuento {{promocion.cod_descuento}}" >
        <img src={{promocion.imagen}}>
        <ion-card-subtitle>Descuento hasta el {{promocion.fecha_vencimiento}}</ion-card-subtitle>
        <ion-card-title>{{promocion.descripcion}}r</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Obten hasta un {{promocion.porc_descuento}}% de descuento.
      </ion-card-content>
    </ion-card>
  </div>
  
  
</ion-content>