<ion-menu side="start" menuId="first" contentId="menu-principal2">
  <ion-header class="headerMenu">
    <ion-avatar class="imgExterior">
      <img class="imgPerfil" src="../../../assets/img/perfil.jpg">
    </ion-avatar>
    <ion-label>Grupo PolySolutions</ion-label>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>
        <ion-icon class="iconMenu" name="checkbox-outline" item-left color="medium"></ion-icon>Asistencia
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="book" item-left color="medium"></ion-icon>Calificaciones
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="md-calendar" item-left color="medium"></ion-icon>Tareas
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="notifications" item-left color="medium"></ion-icon>Notificaciones
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="card" item-left color="medium"></ion-icon>Registrar método de pago
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="settings" item-left color="medium"></ion-icon>Ajustes
      </ion-item>
      <ion-item>
        <ion-icon class="iconMenu" name="log-out" item-left color="medium"></ion-icon>Cerrar Sesión
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>