<ion-menu side="start" menuId="first" contentId="menu-principal2">
  <ion-header class="headerMenu">
    <ion-avatar class="imgExterior">
      <img class="imgPerfil" src="../../../assets/img/perfil.jpg">
    </ion-avatar>
    <ion-label>Grupo PolySolutions</ion-label>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item>Asistencia</ion-item>
      <ion-item>Calificaciones</ion-item>
      <ion-item>Tareas</ion-item>
      <ion-item>Notificaciones</ion-item>
      <ion-item>Registrar método de pago</ion-item>
      <ion-item>Ajustes</ion-item>
      <ion-item>Cerrar Sesión</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>