.imgExterior{
    text-align: center;
    display: block;
    margin: auto;
    width: 150px;
    height: 150px;
}

.imgPerfil{
    border-radius: 50%;
    text-align: center;
}

.nameUser{
    text-align: center;
    display: block;
    margin: auto;
}
.headerMenu{
    text-align: center;
    display: block;
    margin: 50px 0px;
}
