<button type="button" class="btn btn-secondary" (click)="goToBack()">Volver</button>
<div class="form-group">
    <label for="exampleFormControlSelect1">Seleccione una Sesion</label>
    
    <select class="form-control" id="sesion_select" (click)="cargarEstudiantes()" >
      <option value="" selected disabled>Elige una sesion</option>
      <option *ngFor='let sesion of objectSesiones' value="{{sesion.id}}">{{sesion.titulo}}</option>
    </select>

</div>

<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Estado</th>
        <th scope="col">Asistencia</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody id="t_body_asistencias">
        <tr *ngFor='let estudiante of objectEstudiantes' id="{{estudiante.id_estudiante.cedula}}" class="fila">
            <th scope="row">{{estudiante.num}}</th>
            <td>{{estudiante.id_estudiante.nombres}}</td>
            <td>{{estudiante.id_estudiante.apellidos}}</td>
            
            <td *ngIf="estudiante.asistencia; else elseBlock">Calificado</td>
            <ng-template #elseBlock><td>No calificado</td></ng-template>

            <td>
              <input 
              *ngIf="estudiante.asistencia; else elseBlock2"
              type="checkbox" class="form-check-input asistencia" checked>  
            </td>
            <ng-template #elseBlock2><td>
              <input type="checkbox" class="form-check-input asistencia">  
            </td></ng-template>
            
            <td><button >Guardar</button></td> 
      </tr>
    </tbody>
</table>

<button (click)="asignarAsistencias()">Actualizar asistencias</button>

