<button class="btn btn-cool-blues btn-rounded" (click)="goToBack()"><i class="fas fa-arrow-left"></i>&nbsp;Atras</button>
<h1 class="text-center">Calificaciones</h1>

<div class="form-group">
        
    <select class="form-control" id="tarea_select" (click)="cargarEstudiantes()" >
      <option value="" selected disabled>Elige una tarea</option>
      <option *ngFor='let tarea of objectTareas' value="{{tarea.id}}">{{tarea.nombre_tarea}}</option>
    </select>

</div>

<div class="table-responsive">
<table class="table">
    <thead class="thead-dark">
      <tr>        
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Estado</th>
        <th scope="col">Calificacion</th>
        <th scope="col">Acción</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let estudiante of objectEstudiantes' id="{{estudiante.id_estudiante.cedula}}">            
            <td>{{estudiante.id_estudiante.nombres}}</td>
            <td>{{estudiante.id_estudiante.apellidos}}</td>
            
            <td *ngIf="estudiante.estado; else elseBlock">Calificado</td>
            <ng-template #elseBlock><td>No calificado</td></ng-template>

            <td *ngIf="estudiante.calificacion!=null; else elseBlock2">
              <input type="text" class="form-control nota" value="{{estudiante.calificacion}}" />
            </td>
            <ng-template #elseBlock2><td>
              <input type="text" class="form-control nota" value="" />
            </td></ng-template>
            
            <td>
              <button class="btn btn-sm btn-success" (click)="guardarCalificacion(estudiante.id_estudiante.cedula)"><i class="far fa-save"></i>&nbsp; Guardar</button>
              </td> 
      </tr>
    </tbody>
</table>
</div>
