
<h1>Seccion tareas</h1>

<button type="button" class="btn btn-secondary" (click)="goToBack()">Volver</button>

<button type="button" (click)="open(content)" class="btn btn-success">Nueva Tarea</button>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Titulo</th>
        <th scope="col">Fecha Entrega</th>
        <th scope="col">Calificacion</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor='let tarea of objectTareas' id="{{tarea.id}}">
            <th scope="row">{{tarea.id}}</th>
            <td>{{tarea.nombre_tarea}}</td>
            <td>{{tarea.fecha}}</td>
            <td>{{tarea.calificacion}}</td>
      </tr>
    </tbody>
</table>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Crear Nueva Tarea</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <label>Eliga la sesion</label>

        <select class="form-control" id="tarea_select_sesion" *ngFor='let sesion of objectSesiones' >
          <option value="{{sesion.id}}">{{sesion.titulo}}</option>
        </select>

        <label>Titulo</label>
        <input type="text" class="form-control" id="input_titulo" aria-describedby="inputTitulo">
        <label>Descripcion</label>
        <input type="text" class="form-control" id="input_descripcion" aria-describedby="input_descripcion">
        
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="crearTarea()">Crear</button>
  </div>
</ng-template>

<hr>

<pre>{{ closeResult }}</pre>