
<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides pager="true">

    <ion-slide>
      <div class="slide">
        <h1 class="ion-padding-bottom">Crea tu cuenta</h1>
        <h5 class="ion-text-left ion-padding-bottom">Datos personales</h5>
        <ion-list lines="full" class="ion-no-margin ion-no-padding ">
          <ion-item>
            <ion-label class="ion-text-center " position="floating">Nombres:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="email" maxlength = 50 mode="md" oninput="" pattern = ""></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Apellidos:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Fecha de nacimiento:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Cedula de identidad:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>     
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Sexo:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>     
        </ion-list>
      </div>
    </ion-slide>

    <ion-slide>
      <h1 class="ion-padding-bottom">Bienvenido</h1>
        <h5 class="ion-text-left ion-padding-bottom">Datos de contacto</h5>
        <ion-list lines="full" class="ion-no-margin ion-no-padding ">
          <ion-item>
            <ion-label class="ion-text-center " position="floating">País:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="email" maxlength = 50 mode="md" oninput="" pattern = ""></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Ciudad:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Dirección:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Teléfono:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>     
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Correo eléctronico:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>     
        </ion-list>
    </ion-slide>

    <ion-slide>
      <h1 class="ion-padding-bottom">Bienvenido</h1>
        <h5 class="ion-text-left ion-padding-bottom">Datos adicionales</h5>
        <ion-list lines="full" class="ion-no-margin ion-no-padding ">
          <ion-item>
            <ion-label class="ion-text-center " position="floating">Comunidad históricamente excluida:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="email" maxlength = 50 mode="md" oninput="" pattern = ""></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Escolaridad:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Nombre de usuario:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>
          <div class = "intermedios"></div>
          <ion-item>
            <ion-label class="ion-text-center" position="floating">Contraseña:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input class="ion-text-center" required type="password" maxlength = 20 mode="md" oninput="" ></ion-input> <!--handleFirstNameValue(event)-->
          </ion-item>     
        </ion-list>
        <div class = "intermedios"></div>
      <ion-button expand="block" routerLink="/tabs/tab1" class="ion-no-margin">Registrar</ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
