<ion-header>
  <ion-row class="searchBar">
    <ion-col size="2">
      <ion-buttons class="menu">
        <ion-button (click)="openMenu()">
          <ion-icon slot="icon-only" name="menu" color="medium"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-col>
    <ion-col size="10">
      <ion-input placeholder="Buscar curso" class="inputSearch">
      </ion-input>
    </ion-col>
  </ion-row>
  <ion-segment scrollable mode="md">
    <ion-segment-button mode="md" *ngFor="let categoria of categorias" [value]="categoria">
      <ion-label>{{ categoria }}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content class="main-container">
  <div *ngFor="let item of datos" (click)="openNavDetailsPage(item.id_curso)" class="contenedor">
    <img width="80" height="120" class="imagen" src="{{item.imagen}}" alt="">
    <div class="contenido">
      <h3 style="font-size:16px;" class="titulo">{{ item.titulo_curso }}</h3>
      <p style="font-size:14px;"class="descripcion">{{ item.short }}</p>
      <div class="containter-price">
        <p style="font-size:14px;"class="text-price">{{item.precio}} USD</p>
        <ion-icon style="font-size:14px;"class="icono-price" name="cart"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>