#bannerPromedio {
    display: block ;
    position: fixed ;
    width: 100%;
    height: 66px;
    bottom: 9%!important;
    left: 0!important;
    opacity: 1;
    transition: all .3s linear;
}
#bannerTab {
    display: block;
    position: fixed;
    width: 100%;
    height: 66px;
    bottom: 0!important;
    left: 0!important;
    opacity: 1;
    transition: all .3s linear;
}

#relleno{
    height: 10%;
}