<ion-header>
  <ion-toolbar>
    <ion-title>Materia</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" defaultHref="/tabs/tab3" ></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</ion-header>

<ion-content>  

  <!-- Icon top -->
  <ion-segment color="primary" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="Tareas" >
      <ion-label>Tareas</ion-label>
      <ion-icon name="md-clipboard"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Calificaciones">
      <ion-label>Calificaciones</ion-label>
      <ion-icon name="md-checkmark-circle"></ion-icon>
    </ion-segment-button>
    <ion-segment-button value="Asistencias" checked="true">
      <ion-label>Asistencias</ion-label>
      <ion-icon name="md-clock"></ion-icon>
    </ion-segment-button>
  </ion-segment>

  <ion-list>
    <ion-list-header>
      Mis tareas
    </ion-list-header>

    <div *ngFor="let item of datos" class="contenedor">
      <ion-item>
        <ion-label class="asistencias">{{ item.nombre_tarea }}</ion-label>
        <ion-checkbox color="primary" checked={{item.id_clase.asistencia}} disabled="true" class="checkboxStyle"></ion-checkbox>
      </ion-item>          
      </div>    
  </ion-list>


  <ion-footer id="bannerTab">
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button routerLink= "/tabs/tab1">
          <ion-icon name="home"></ion-icon>
          <ion-label>Principales</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/tabs/tab2">
          <ion-icon name="gift"></ion-icon>
          <ion-label>Promociones</ion-label>
        </ion-tab-button>

        <ion-tab-button routerLink="/tabs/tab3">
          <ion-icon name="md-book"></ion-icon>
          <ion-label>Mis Cursos</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-footer>

  </ion-content>