
<div class="row row-cols-1 row-cols-md-3">

    <div class="col mb-4" (click)="goToTareas()">
      <div class="card h-100">
        <img src="../../../assets/images/card-tareas.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Tareas</h5>
          
        </div>
      </div>
    </div>

    <div class="col mb-4" (click)="goToCalificaciones()">
      <div class="card h-100">
        <img src="../../../assets/images/card-calificaciones.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Calificaciones</h5>
        </div>
      </div>
    </div>

    <div class="col mb-4" (click)="gotToAsistencias()">
      <div class="card h-100">
        <img src="../../../assets/images/card-asistencia.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Asistencias</h5>
          
        </div>
      </div>
    </div>
    
</div>