#formularioLogin{
    margin: 15% 15% 2% 15%;
    border-bottom: 1px solid black;
}

#registro{
    margin: 2% 15% 15% 15%;
    text-align: center;
}

#relleno{
    margin: 10% 0% 10% 0%;
}


#contraseniaOlvidada{
    text-align: center;
}

#logo{
    margin-bottom: 20%;
}