#formularioLogin{
    text-align: center;
    padding: 15% 15% 2% 15%;
    border-bottom: 1px solid black;
}

#registro{
    padding: 2% 15% 15% 15%;
    text-align: center;
}

#relleno{
    padding: 10% 0% 10% 0%;
}


#contraseniaOlvidada{
    text-align: center;
}

#logo{
    padding-bottom: 20%;
}
