<ion-header>
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás"defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card">
    <img class="imagen" src="{{imagen}}" alt="">
    <div class="card-body">
      <p class="detalles-precio">Precio ${{precio}} USD</p>
      <h5 class="card-title detalles-titulo">Información del curso</h5>
      <p class="card-text detalles-short">{{short}}</p>
      
      <hr>
      <div class="detalles-contenedor-div">
        <div class="circulo">
          <img class="detalles-iconos" src="https://image.flaticon.com/icons/png/512/1246/1246334.png" alt="">
        </div>
      
        <p class="detalles-texto">100% en línea</p>
      </div>

      <div class="detalles-contenedor-div">
        <div class="circulo">
          <img class="detalles-iconos" src="https://image.flaticon.com/icons/png/512/833/833593.png" alt="">
        </div>
        <p class="detalles-texto">{{sesiones}} sesiones</p>
      </div>
      <div class="detalles-contenedor-div">
        <div class="circulo">
          <img class="detalles-iconos" src="https://image.flaticon.com/icons/png/512/1373/1373419.png" alt="">
        </div>
        <p class="detalles-texto">Completamente en español</p>
      </div>
      
      <hr>
      <div id='boton'></div>
    </div>
  </div>
</ion-content>
